@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



/* :root dan @theme tetap boleh ada kalau mau untuk variable */
/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
